    <div class="containera">
        <div class="wrapper">
    
            <div class="prev-btn"><i class="fas fa-chevron-left"></i></div>
            <div class="slides-container">
                <div class="slide-image">
                  <img src="../../assets/images/home/image_slider2.png" alt="">
                </div>
                <div class="slide-image">
                  <img src="../../assets/images/home/image_slider3.png" alt="">
                </div>
                <div class="slide-image">
                  <img src="../../assets/images/home/image_slider4.png" alt="">
                </div>
                <div class="slide-image">
                  <img src="../../assets/images/home/image_slider5.png" alt="">
                </div>
            </div>
    
            <div class="next-btn"><i class="fas fa-chevron-right"></i></div>
            
        </div>
        <div class="navigation-dots"></div>
    
        <div class="offers">
            <img src="../../assets/images/home/z.png" alt="">
        </div>
    
        <div class="about">
            <h2>TULIP.</h2></div>
      <div class="abouta">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
        <div class="team">
            <div class="row">
                <div class="col"> 
                    <img src="../../assets/images/home/nivi.jpg" class="pic" alt="">
    
                    <div class="layer">
                        <img src="../../assets/images/home/nivi.jpg"  alt="">
                    </div>
    
                    <div class="info">
                        <h2>Nivedhidha I</h2>
                        <p>CEO</p>
                        <div class="icons">
                            <i class="fab fa-facebook"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-linkedin"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img src="../../assets/images/home/azar.jpg" alt=""   class="pic">
                    <div class="layer">
                        <img src="../../assets/images/home/azar.jpg"  alt="">
                    </div>
    
                    <div class="info">
                        <h2>AzaR</h2>
                        <p>Founder</p>
                        <div class="icons">
                            <i class="fab fa-facebook"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-linkedin"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img src="../../assets/images/home/bhu.jpg" alt=""  class="pic">
                    <div class="layer">
                        <img src="../../assets/images/home/bhu.jpg"  alt="">
                    </div>
                    <div class="info">
                        <h2>BHU1</h2>
                        <p>Marketing Head</p>
                        <div class="icons">
                            <i class="fab fa-facebook"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-linkedin"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img src="../../assets/images/home/sen.jpeg" alt=""  class="pic">
                    <div class="layer">
                        <img src="../../assets/images/home/sen.jpeg"  alt="">
                    </div>
                    <div class="info">
                        <h2>SENKATHIR</h2>
                        <p>MANAGER</p>
                        <div class="icons">
                            <i class="fab fa-facebook"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-linkedin"></i>
                        </div>
                    </div>
                </div>
    
            </div>
    
      </div>
    
    
    
        <div class="blog">
            <h2>Trending Products</h2>  </div>
            
          
            <!--swiper slider-->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                <!--slide 1-------------------------------------->
                <div class="swiper-slide">
                  <div class="slider-box">
                        <p class="time">New</p>
                        <div class="img-box">
                              <img src="../../assets/images/body butter/body-butter11 big.jpg">
                        </div>
                        <p class="detail">Body Butter 1<br> MRP: &#8377; 300</p>
                        <div class="cart">
                              <a href="bodybutter1">Take A LooK</a>
                              
                        </div>
                  </div>
            </div> 
            
                  
                  
                  
                  <!--slide 2-------------------------------------->
                  <div class="swiper-slide">
                        <div class="slider-box">
                              <p class="time">New</p>
                              <div class="img-box">
                                    <img src="../../assets/images/hair gel/hair-gel13 big.jpeg">
                              </div>
                              <p class="detail">Hair Gel 1<br> MRP: &#8377; 300</p>
                              <div class="cart">
                                    <a href="hairgel1">Take A LooK</a>
                              </div>
                        </div>
                  </div>     
                  
                  <!--slide 3-------------------------------------->
                  <div class="swiper-slide">
                        <div class="slider-box">
                              <p class="time">New</p>
                              <div class="img-box">
                                    <img src="../../assets/images/lip stick/lipstick11 big.jpg">
                              </div>
                              <p class="detail">Lipstick 1<br> MRP: &#8377; 300</p>
                              <div class="cart">
                                    <a href="lipstick1">Take A LooK</a>
                                    
                              </div>
                        </div>
                  </div>     
                  
                  
                  
                  <!--slide 4-------------------------------------->
                  <div class="swiper-slide">
                        <div class="slider-box">
                              <p class="time">New</p>
                              <div class="img-box">
                                    <img src="../../assets/images/serum/serum11 big.jpg">
                              </div>
                              <p class="detail">Serum 1<br> MRP: &#8377; 300</p>
                              <div class="cart">
                                    <a href="serum1">Take A LooK</a>
                                    
                              </div>
                        </div>
                  </div>        
                  
                  
                  <!--slide 5-------------------------------------->
                  <div class="swiper-slide">
                        <div class="slider-box">
                              <p class="time">New</p>
                              <div class="img-box">
                                    <img src="../../assets/images/shampoo/shampoo11 big.png">
                              </div>
                              <p class="detail">Shampoo 1<br> MRP: &#8377; 300</p>
                              <div class="cart">
                                    <a href="shampoo1">Take A LooK</a>
                                    
                              </div>
                        </div>
                  </div>        
                  
                  
                  <!--slide 6-------------------------------------->
                  <div class="swiper-slide">
                        <div class="slider-box">
                              <p class="time">New</p>
                              <div class="img-box">
                                    <img src="../../assets/images/soap/soap11 big.jpg">
                              </div>
                              <p class="detail">Soap 1<br> MRP: &#8377; 300</p>
                              <div class="cart">
                                    <a href="soap1">Take A LooK</a>
                                    
                              </div>
                        </div>
                  </div>     
            </div>
            </div>
<!--slider 1 bags------------------------------------------>
<div class="blog">
      <h2>From Our Blog</h2>  </div>
      
    
      <!--swiper slider-->
      <div class="swiper-container">
          <div class="swiper-wrapper">
         <!--slide 1-------------------------------------->
         <div class="swiper-slide">
            <div class="slider-box">
                  <p class="time">New</p>
                  <div class="img-box">
                        <img src="../../assets/images/blog/blog1.jpg">
                  </div>
                  <p class="detail">The Most Effective & Easy Ways To Remove Tan From Legs, Feet And Hands</p>
                  <!-- <a href="#"><p style="text-align: start;">Read More</p></a> -->
                  <a href="blog1">Read More</a>
            </div>
      </div>
      
            
            
            <!--slide 2-------------------------------------->
            <div class="swiper-slide">
                  <div class="slider-box">
                        <p class="time">New</p>
                        <div class="img-box">
                              <img src="../../assets/images/blog/blog2.jpg">
                        </div>
                        <p class="detail">The Most Effective & Easy Ways To Remove Tan From Legs, Feet And Hands</p>
                        <!-- <a href="#"><p style="text-align: start;">Read More</p></a> -->
                        <a href="blog2">Read More</a>
                  </div>
            </div>
             
            
            <!--slide 3-------------------------------------->
            <div class="swiper-slide">
                  <div class="slider-box">
                        <p class="time">New</p>
                        <div class="img-box">
                              <img src="../../assets/images/blog/blog3.jpg">
                        </div>
                        <p class="detail">The Most Effective & Easy Ways To Remove Tan From Legs, Feet And Hands</p>
                        <!-- <a href="#"><p style="text-align: start;">Read More</p></a> -->
                        <a href="blog3">Read More</a>
                  </div>
            </div>
            
            <!--slide 4-------------------------------------->

<div class="swiper-slide">
      <div class="slider-box">
            <p class="time">New</p>
            <div class="img-box">
                  <img src="../../assets/images/blog/blog4.jpg">
            </div>
            <p class="detail">The Most Effective & Easy Ways To Remove Tan From Legs, Feet And Hands</p>
            <!-- <a href="#"><p style="text-align: start;">Read More</p></a> -->
            <a href=""blog4>Read More</a>
      </div>
</div>
</div>
</div>