<div class="heada">
    <h1 class="heading">Body Butter Products</h1>
    <div class="details">
        <div class="containera">
            <a href="bodybutter1"><img src="../../assets/images/body butter/body-butter11 big.jpg" class="image"></a>
            <div class="overlay">
                <div class="text">
                    <div class="a">
                        <button type="button" class="favbutton"><i class="fa fa-heart fav"></i></button>
                        <button type="button"><span class="cart">Add To Cart</span></button>
                    </div>
                </div>
            </div>
            <p class="productname">Body Butter 1</p>
            <p class="price">MRP: ₹300 <span>₹500 </span></p>
            <p class="offer">40% offer</p>
        </div>
        <div class="containera">
            <a href="bodybutter2"><img src="../../assets/images/body butter/body-butter21 big.jpg" alt="" class="image"></a>
            <div class="overlay">
                <div class="text">
                    <div class="a">
                        <button type="button" class="favbutton"><i  class="fa fa-heart fav"></i></button>
                        <button type="button"><span class="cart">Add To Cart</span></button>
                    </div>
                </div>
            </div>
            <p class="productname">Body Butter 2</p>
            <p class="price">MRP: ₹300 <span>₹500 </span></p>
            <p class="offer">40% offer</p>
        </div>
        <div class="containera">
            <a href="bodybutter3"><img src="../../assets/images/body butter/body-butter11 big.jpg" alt="" class="image"></a>
            <div class="overlay">
                <div class="text"> 
                    <div class="a">
                        <button type="button" class="button favbutton"><i  class="fa fa-heart fav"></i></button>
                        <button type="button"><span class="cart">Add To Cart</span></button>
                    </div>
                </div>
            </div>
            <p class="productname">Body Butter 3</p>
            <p class="price">MRP: ₹300 <span>₹500 </span></p>
            <p class="offer">40% offer</p>
        </div>
        <div class="containera">
            <a href="bodybutter4"><img src="../../assets/images/body butter/body-butter21 big.jpg" alt="" class="image"></a>
                <div class="overlay">
                    <div class="text">
                        <div class="a">
                            <button type="button" class="favbutton"><i class="fa fa-heart fav"></i></button>
                            <button type="button"><span class="cart">Add To Cart</span></button>
                        </div>
                    </div>
                </div>
                <p class="productname">Body Butter 4</p>
                <p class="price">MRP: ₹300 <span style="font-size: 1.3rem;">₹500 </span></p>
                <p class="offer">40% offer</p>
            </div>
        </div>                
    </div>