<div id="main">
    <h2>My Wishlist (2)</h2>
    <div class="product">
        <span>
            <img class="productimages" src="../../assets/images/soap/soap13 big.jpg" alt="cart_product">
        </span>
        <span>
            <a href="soap1"><h3>Soap 1</h3></a>
            <p>Price: Rs. 50</p>
            <div class="icon"><button><img class="removeicon" src="../../assets/images/remove.png" alt="remove icon"></button></div>
            <div class="hide remove">Remove</div>
        </span>
    </div>
    <div class="product">
        <span>
            <img class="productimages" src="../../assets/images/hair gel/hair-gel11 big.jpeg" alt="cart_product">
        </span>
        <span>
            <a href="hairgel2"><h3>Hair Gel 2</h3></a>
            <p>Price: Rs. 890</p>
            <div class="icon"><button><img class="removeicon" src="../../assets/images/remove.png" alt="remove icon"></button></div>
            <div class="hide remove">Remove</div>
        </span>
    </div>
</div>