<div class="containera">

<h2>THE ULTIMATE GUIDE TO REMOVE TANNING FOR INDIAN SKIN</h2>
<p>By Lorem Ipsim  &#9615; jun 10, 2021</p>
<img src="../../../assets/images/blog/image_slider2.png" alt="">
<div class="contenta">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ultrices vitae auctor eu augue ut lectus arcu. 
    Magna eget est lorem ipsum dolor sit amet consectetur adipiscing.
     Rutrum quisque non tellus orci ac auctor augue mauris augue.
      Interdum consectetur libero id faucibus nisl. 
    Purus ut faucibus pulvinar elementum integer enim neque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
         Nunc mi ipsum faucibus vitae aliquet nec ullamcorper.
          Quis viverra nibh cras pulvinar mattis nunc sed blandit libero.
           Aenean et tortor at risus viverra adipiscing at.
            Vulputate dignissim suspendisse in est ante in nibh mauris cursus
            ursus sit amet dictum sit amet justo donec.
             Scelerisque felis imperdiet proin fermentum leo vel.
              Maecenas volutpat blandit aliquam etiam erat velit.
               Ipsum dolor sit amet consectetur adipiscing elit pellentesque.
         At ultrices mi tempus imperdiet nulla malesuada pellentesque.</p>

</div>

</div>