<div class="product">
    <div class="xzoom-container" style="margin-top: 50px;">
        <img  src="../../../assets/images/soap/soap11 small.jpg" class="xzoom" xoriginal="../../../assets/images/soap/soap11 big.jpg">
        <div class="xzoom-thumbs" style="width: 500px;height: 100px;"> 
            <a href="../../../assets/images/soap/soap11 big.jpg">
                <img  src="../../../assets/images/soap/soap11 big.jpg" class="xzoom-gallery" xpreview="../../../assets/images/soap/soap11 small.jpg">
            </a>
            <a href="../../../assets/images/soap/soap12 big.jpg">
                <img  src="../../../assets/images/soap/soap12 big.jpg" class="xzoom-gallery" xpreview="../../../assets/images/soap/soap12 small.jpg">
            </a>
            <a href="../../../assets/images/soap/soap13 big.jpg">
                <img  src="../../../assets/images/soap/soap13 big.jpg" class="xzoom-gallery" xpreview="../../../assets/images/soap/soap13 small.jpg">
            </a>
            <a href="../../../assets/images/soap/soap14 big.jpg">
                <img src="../../../assets/images/soap/soap14 big.jpg" class="xzoom-gallery" xpreview="../../../assets/images/soap/soap14 small.jpg">
            </a>
        </div>
    </div>
    <div class="description">
        <h1 class="title">NATURALLY MADE SOAP</h1>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i><br>
            <p class="price">Price: ₹ 300</p>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed odio morbi quis commodo odio aenean sed adipiscing diam.
                Consequat interdum varius sit amet mattis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste consequuntur modi harum recusandae iure, ab, non eum magni ut autem minima omnis eveniet itaque! 
                Perspiciatis et corrupti voluptas quo nesciunt?</p>
            <p id="quantity">Quantity: <button class="change">+</button><input type="number" value="1"><button class="change">-</button></p>
        </div>
        <div>
            <button class="cart buy">Add to cart <i class="fa fa-shopping-cart"></i></button>
            <button class="wishlist buy">Add to WishList <i class="fa fa-heart"></i></button>
        </div>
        <p id="mrp"><b>*</b>MRP Inclusive of all taxes</p>
    </div> 
    <div class="info">
    <br>
        <div class="about">
            <h3>DESCRIPTION</h3>
                <ul type="none">
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, eos! Totam, nostrum necessitatibus consequatur error suscipit praesentium, ab quas sunt quisquam doloremque voluptate hic sequi facere quod nesciunt atque. Iure!</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, asperiores. Quis, nemo. Vero mollitia nesciunt molestias accusantium esse consequatur possimus natus omnis, unde itaque aliquam exercitationem eum libero praesentium quibusdam.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod minus laboriosam debitis expedita corporis repellat optio ad officiis recusandae, est exercitationem, libero, labore aut autem rerum voluptatibus unde nihil quos.</li>
                </ul>
        </div>
       <div class="how">
        <h3>HOW TO USE</h3>
            <ul type="none">
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quaerat quae dolorem ipsum nulla nostrum quo animi distinctio id architecto iste, sapiente nemo tempora molestiae ex ducimus dolorum, totam harum!</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, commodi molestiae corrupti accusamus est ut incidunt quam sequi tempora aut id rem voluptas earum provident odio facilis quas nobis culpa?</li>
                <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error ad repellat quidem magnam porro aliquid ratione, atque obcaecati consequatur corporis! Ea impedit, quam ipsam vitae libero veniam nisi cupiditate harum!</li>
            </ul>
    </div>
        <div class="ingredients">
            <h3>INGREDIENTS</h3>
            <ul type="none">
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita molestiae voluptatem pariatur, numquam optio consequuntur porro debitis repudiandae ipsa sed nisi exercitationem, fugit dolores unde. Consectetur, veritatis. Excepturi, quod cumque.</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, adipisci dignissimos non, nam aperiam culpa repudiandae, cum nisi unde nemo corrupti vitae fugit necessitatibus magnam error libero molestiae? Sint, praesentium?</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam neque fugiat nemo laborum tenetur eveniet, molestiae amet similique dolorem dolores iure perferendis porro explicabo officiis aliquam iste, expedita itaque fuga.</li>
            </ul>
        </div>
        <div class="advantage">
            <h3>ADVANTAGES</h3>
            <ul type="none">
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero veniam consequuntur, quia molestiae, nesciunt soluta rem voluptatem animi maxime repellendus repudiandae distinctio consectetur unde beatae blanditiis quibusdam reiciendis nemo quidem.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam obcaecati, architecto nisi debitis assumenda nam aperiam ad, eum adipisci, voluptas cupiditate blanditiis delectus quos enim. Optio, reiciendis voluptas? Et, rerum.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam esse laborum quos doloribus laudantium illo architecto repudiandae molestias voluptate, accusamus voluptas aut, est maiores ea illum dolorem repellendus? Quidem, corporis.</li>
            </ul>
        </div>
    </div>
</div>
<div class="related">
    <h2>Related Items</h2>
    <div class="rowa">
        <div class="columns">
            <div class="items">
                <a href="soap2"><img src="../../../assets/images/soap/soap21 big.jpg"></a> 
                <div class="details">
                    <p>Soap 2</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p class="price">₹ 300</p>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="items">
             <a href="soap3"><img src="../../../assets/images/soap/soap11 big.jpg"></a> 
                <div class="details">
                    <p>Soap 3</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p class="price">₹ 300</p>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="items">
               <a href="soap4"><img src="../../../assets/images/soap/soap21 big.jpg"></a> 
                <div class="details">
                    <p>Soap 4</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p class="price">₹ 300</p>
                </div>
            </div>
        </div>  
    </div>
</div>