<div id="main">
    <h2>Order History</h2>
    <div class="order">
        <div class="icon"><img src="../../assets/images/on process.png" alt="in process icon"></div>
        <div class="hide">In Process</div>
        <p class="orderno">Order Number: 1234569</p>
        <p class="items topics">Items:</p>
        <table>
            <tr>
                <td class="product">Hair Gel 4</td>
                <td class="quantity">x 2</td>
                <td class="price">₹300</td>
            </tr>
            <tr>
                <td class="product">Soap 2</td>
                <td class="quantity">x 4</td>
                <td class="price">₹300</td>
            </tr>
        </table>
        <p class="totalprice"><span class="topics">Total Price: </span>₹1800</p>
        <p class="paymethod"><span class="topics">Payment Method: </span>Cash On Delivery</p>
        <p class="orderdate"><span class="topics">Order Date: </span>21-06-2021</p>
        <p class="delivery"><span class="topics">Delivery Address: </span>Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Velit aliquam magni saepe 
            suscipit doloremque quis nam nihil modi?</p>
    </div>
    <div class="order">
        <div class="icon"><img src="../../assets/images/cancelled.png" alt="cancelled icon"></div>
        <div class="hide">Cancelled</div>
        <p class="orderno">Order Number: 1234568</p>
        <p class="items topics">Items:</p>
        <table>
            <tr>
                <td class="product">Hair Gel 4</td>
                <td class="quantity">x 2</td>
                <td class="price">₹300</td>
            </tr>
            <tr>
                <td class="product">Soap 2</td>
                <td class="quantity">x 4</td>
                <td class="price">₹300</td>
            </tr>
        </table>
        <p class="totalprice"><span class="topics">Total Price: </span>₹1800</p>
        <p class="paymethod"><span class="topics">Payment Method: </span>Credit Card</p>
        <p class="orderdate"><span class="topics">Order Date: </span>20-06-2021</p>
        <p class="delivery"><span class="topics">Delivery Address: </span>Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Velit aliquam magni saepe 
            suscipit doloremque quis nam nihil modi?</p>
    </div>
    <div class="order">
        <div class="icon"><img src="../../assets/images/delivered.png" alt="Delivered icon"></div>
        <div class="hide">Delivered</div>
        <p class="orderno">Order Number: 1234567</p>
        <p class="items topics">Items:</p>
        <table>
            <tr>
                <td class="product">Hair Gel 1</td>
                <td class="quantity">x 2</td>
                <td class="price">₹300</td>
            </tr>
            <tr>
                <td class="product">Lipstick 3</td>
                <td class="quantity">x 1</td>
                <td class="price">₹300</td>
            </tr>
        </table>
        <p class="totalprice"><span class="topics">Total Price: </span>₹900</p>
        <p class="paymethod"><span class="topics">Payment Method: </span>Cash On Delivery</p>
        <p class="orderdate"><span class="topics">Order Date: </span>20-05-2021</p>
        <p class="delivery"><span class="topics">Delivery Address: </span>Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Velit aliquam magni saepe 
            suscipit doloremque quis nam nihil modi?</p>
    </div>
</div>