<div class="heada">
    <h1 class="heading">SOAP PRODUCTS </h1>
    <div class="details">
        <div class="containera">
            <a href="soap1"><img src="../../assets/images/soap/soap12 big.jpg" class="image"></a>
            <div class="overlay">
                <div class="text">
                        <div class="a">
                            <button type="button" style="border: 4px solid transparent;margin-left: -50px;font-size: 2rem;" ><i  class="fa fa-heart" style="bottom: 10px;padding-left: 30px;padding-right: 30px;margin-bottom: 0px;margin-top: 0px;"></i></button>
                            <button type="button" style="border:4px solid transparent;margin-left: px;font-size: 2rem;padding-left: 20px;margin-right: 20px;">Add To Cart</button>
                        </div>
                    </div>
                    </div>
                    <p style="font-size: 2.1rem;">Naturally Made Soap</p>
                    <p class="price" style="margin-top: 10px; font-size: 2rem;">MRP: ₹300 <span style="font-size: 1.3rem;">₹500 </span></p>
                    <p class="offer" style="margin-top:-10px;">40% offer</p>
                     </div>
                     <div class="containera">
                        <a href="soap2"><img src="../../assets/images/soap/soap21 big.jpg" alt="Avatar" class="image"></a>
                        <div class="overlay">
                            <div class="text">
                                    <div class="a" style="width:400px;margin-top: 25px;color: white; ">
                                        <button type="button" style="border: 4px solid transparent;margin-left: -50px;font-size: 2rem;" ><i  class="fa fa-heart" style="bottom: 10px;padding-left: 30px;padding-right: 30px;margin-bottom: 0px;margin-top: 0px;"></i></button>
                                        <button type="button" style="border:4px solid transparent;margin-left: px;font-size: 2rem;padding-left: 20px;padding-right: 40px;margin-right: 20px;">Add To Cart</button>
                                    </div>
                                </div>
                                </div>
                                <p style="font-size: 2.1rem;">Naturally Made Soap</p>
                                <p class="price" style="margin-top: 10px; font-size: 2rem;">MRP: ₹300 <span style="font-size: 1.3rem;">₹500 </span></p>
                                <p class="offer" style="margin-top:-10px;">40% offer</p>
                                 </div>
                                 <div class="containera">
                                    <a href="soap3"><img src="../../assets/images/soap/soap12 small.jpg" alt="Avatar" class="image"></a>
                                    <div class="overlay">
                                        <div class="text"> 
                                                <div class="a" style="width:400px;margin-top: 25px;color: white; ">
                                                    <button type="button" style="border: 4px solid transparent;margin-left: -50px;font-size: 2rem;" ><i  class="fa fa-heart" style="bottom: 10px;padding-left: 30px;padding-right: 30px;margin-bottom: 0px;margin-top: 0px;"></i></button>
                                                    <button type="button" style="border:4px solid transparent;margin-left: px;font-size: 2rem;padding-left: 20px;margin-right: 20px;">Add To Cart</button>
                                                </div>
                                            </div>
                                            </div>
                                            <p style="font-size: 2.1rem;">Naturally Made Soap</p>
                                            <p class="price" style="margin-top: 10px; font-size: 2rem;">MRP: ₹300 <span style="font-size: 1.3rem;">₹500 </span></p>
                                            <p class="offer" style="margin-top:-10px;">40% offer</p>
                                             </div>
                                             <div class="containera">
                                                <a href="soap4"><img src="../../assets/images/soap/soap21 big.jpg" alt="Avatar" class="image"></a>
                                                <div class="overlay">
                                                    <div class="text">
                                                            <div class="a" style="width:400px;margin-top: 25px;color: white; ">
                                                                <button type="button" style="border: 4px solid transparent;margin-left: -50px;font-size: 2rem;" ><i  class="fa fa-heart" style="bottom: 10px;padding-left: 30px;padding-right: 30px;margin-bottom: 0px;margin-top: 0px;"></i></button>
                                                                <button type="button" style="border:4px solid transparent;margin-left: px;font-size: 2rem;padding-left: 20px;margin-right: 20px;">Add To Cart</button>
                                                                
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <p style="font-size: 2.1rem;">Naturally Made Soap</p>
                                                        <p class="price" style="margin-top: 10px; font-size: 2rem;">MRP: ₹300 <span style="font-size: 1.3rem;">₹500 </span></p>
                                                        <p class="offer" style="margin-top:-10px;">40% offer</p>
                                                         </div>

        </div>                
    </div>