<div class="containera">

    <h2>VARIOUS FACE PACKS</h2>
    <p id="by">By Lorem Ipsim  | June 12, 2021</p>
    <img src="../../../assets/images/blog/blog3.jpg" alt="">
    <div class="contenta">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Maecenas a mauris orci. Maecenas finibus ultrices odio quis 
      viverra. Mauris faucibus porttitor orci. Nulla malesuada nisi 
      massa, sit amet viverra nisi vehicula in. Sed dapibus, arcu 
      ac feugiat ornare, dui eros malesuada diam, nec iaculis justo 
      arcu sit amet lectus. Mauris pulvinar nisi urna, a imperdiet est 
      fringilla vel. Cras sodales, dui sed imperdiet euismod, neque mi 
      fermentum mi, vitae finibus ipsum nisl eget dui. Morbi id volutpat 
      lectus. Aenean varius mi eros, non porta ligula ultrices nec. Duis 
      sodales, massa id pharetra malesuada, tortor erat interdum tortor, 
      non ultricies ipsum libero vestibulum odio. Maecenas sed sapien 
      pellentesque mauris aliquam sagittis. Pellentesque eu lacus purus. 
      Nunc ultrices ut turpis rhoncus fringilla. Pellentesque ut quam quis 
      metus condimentum fringilla at ut leo. Duis cursus arcu ut mollis 
      auctor. Integer tristique metus augue, eget tristique urna accumsan et. 
      Nunc vestibulum in mauris eu pretium. Nulla facilisi. Morbi et 
      convallis enim. Vivamus orci eros, ornare lobortis placerat non, 
      sollicitudin in felis. Quisque egestas egestas commodo. In hac 
      habitasse platea dictumst. Sed nec erat viverra, lobortis neque 
      sit amet, ornare metus. Suspendisse a mi laoreet, volutpat purus 
      vitae, dapibus massa. Vivamus consequat mauris ac velit pellentesque 
      sollicitudin. Etiam viverra, felis quis pulvinar tristique, velit 
      neque finibus eros, ac sodales massa leo feugiat risus. Suspendisse 
      blandit ante justo, a varius ex tincidunt et. Cras et velit ornare, 
      aliquet nulla non, bibendum odio. Fusce et justo dolor. In diam quam, 
      venenatis id tincidunt mollis, ultrices eget massa.</p>
    </div>
    
    </div>