<div id="main">
    <h2>My Cart (2)</h2>
    <div class="product">
        <span>
            <img class="productimages" src="../../assets/images/body butter/body-butter11 big.jpg" alt="cart_product">
            <span class="count">
                <button>-</button>
                <input type="number" name="count" class="countinput" value="1">
                <button>+</button>
            </span>
        </span>
        <span>
            <a href="bodybutter1"><h3>Body Butter 1</h3></a>
            <p>Price: Rs. 455</p>
            <div class="icon"><button><img class="saveicon" src="../../assets/images/saveforlater.png" alt="save for later icon"></button></div>
            <div class="hide save">Save For Later</div>
            <div class="icon"><button><img class="removeicon" src="../../assets/images/remove.png" alt="remove icon"></button></div>
            <div class="hide remove">Remove</div>
        </span>
    </div>
    <div class="product">
        <span>
            <img class="productimages" src="../../assets/images/serum/serum21 big.jpg" alt="cart_product">
            <span class="count">
                <button>-</button>
                <input type="number" name="count" class="countinput" value="1">
                <button>+</button>
            </span>
        </span>
        <span>
            <a href="serum2"><h3>Serum 2</h3></a>
            <p>Price: Rs. 590</p>
            <div class="icon"><button><img class="saveicon" src="../../assets/images/saveforlater.png" alt="save for later icon"></button></div>
            <div class="hide save">Save For Later</div>
            <div class="icon"><button><img class="removeicon" src="../../assets/images/remove.png" alt="remove icon"></button></div>
            <div class="hide remove">Remove</div>
        </span>
    </div>
    <div id="placeorder">
        <button id="placeorderbutton">Place Order</button>
    </div>
</div>
<div id="main">
    <h2>Saved For Later (2)</h2>
    <div class="product">
        <span>
            <img class="productimages" src="../../assets/images/lip stick/lipstick11 big.jpg" alt="cart_product">
            <span class="count">
                <button>-</button>
                <input type="number" name="count" class="countinput" value="1">
                <button>+</button>
            </span>
        </span>
        <span>
            <a href="lipstick1"><h3>Lipstick 1</h3></a>
            <p>Price: Rs. 100</p>
            <div class="icon"><button><img class="carticon" src="../../assets/images/cart.png" alt="cart icon"></button></div>
            <div class="hide cart">Add To Cart</div>
            <div class="icon"><button><img class="removeicon" src="../../assets/images/remove.png" alt="remove icon"></button></div>
            <div class="hide remove">Remove</div>
        </span>
    </div>
    <div class="product">
        <span>
            <img class="productimages" src="../../assets/images/shampoo/shampoo11 big.png" alt="cart_product">
            <span class="count">
                <button>-</button>
                <input type="number" name="count" class="countinput" value="1">
                <button>+</button>
            </span>
        </span>
        <span>
            <a href="shampoo1"><h3>Shampoo 1</h3></a>
            <p>Price: Rs. 390</p>
            <div class="icon"><button><img class="carticon" src="../../assets/images/cart.png" alt="cart icon"></button></div>
            <div class="hide cart">Add To Cart</div>
            <div class="icon"><button><img class="removeicon" src="../../assets/images/remove.png" alt="remove icon"></button></div>
            <div class="hide remove">Remove</div>
        </span>
    </div>
</div>