<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 header">
            <a id="logo" routerLink=""><h1><span>T</span>ulip.</h1></a>
            <span id="links">
                <span class="headerlinks searchbar">
                    <input type="search" name="search" id="search" placeholder="Search...">
                    <img id="search-icon" src="../assets/images/search.png" alt="Search">
                </span>
                <a class="headerlinks" routerLink="login">Login</a>
                <a class="headerlinks" routerLink="profile">Profile</a>
                <a class="headerlinks" routerLink="wishlist">Wishlist</a>
                <a class="headerlinks" routerLink="cart">Cart</a>
                <a class="headerlinks" routerLink="orders">Orders</a>
                <a class="headerlinks" routerLink="blog">Blog</a>
            </span>
            <!-- search login(flipcart) profile wishlist cart orders blog -->
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 n navbar" id="navbar">
            <a routerLink="soap">Soap</a>
            <a routerLink="shampoo">Shampoo</a>
            <a routerLink="serum">Serum</a>
            <a routerLink="body-butter">Body Butter</a>
            <a routerLink="hair-gel">Hair gel</a>
            <a routerLink="lipstick">Lipstick</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 content">
            <router-outlet></router-outlet>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12 footer">
            <a href="https://www.instagram.com/"><img class="logo" src="../assets/images/instagram logo.png" alt=""></a>
            <a href="https://twitter.com/?lang=en"><img class="logo" src="../assets/images/twitter logo.png" alt=""></a>
            <a href="https://www.facebook.com/"><img class="logo" src="../assets/images/facebook logo.png" alt=""></a>
            <p id="contact">For Assisstance Contact: <a href="tel:+9998887776">9998887776</a></p>
            <p id="email">Email: <a href="mailto:abcd@gmail.com">abcd@gmail.com</a></p>
            <p id="copy"> © 2021 Tulip. All rights reserved.</p>
        </div>
    <!--Customer Support directly linked with email-->
    </div>
    <div class="chatbot">
        <button class="botbutton"><img class="botlogo" src="../assets/images/chatbot.png" alt=""></button>
    </div>
</div>