<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 header">
            <a id="logo" routerLink=""><h1><span>T</span>ulip.</h1></a>
            <span id="links">
                <span class="headerlinks searchbar">
                    <input type="search" name="search" id="search" placeholder="Search...">
                    <img id="search-icon" src="../assets/search.png" alt="Search">
                </span>
                <a class="headerlinks" routerLink="login">Login</a>
                <a class="headerlinks" routerLink="profile">Profile</a>
                <a class="headerlinks" routerLink="wishlist">Wishlist</a>
                <a class="headerlinks" routerLink="cart">Cart</a>
                <a class="headerlinks" routerLink="orders">Orders</a>
                <a class="headerlinks" routerLink="blog">Blog</a>
            </span>
            <!-- search login(flipcart) profile wishlist cart orders blog -->
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 navbar n">
            <a routerLink="soap">Soap</a>
            <a routerLink="shampoo">Shampoo</a>
            <a routerLink="serum">Serum</a>
            <a routerLink="body-butter">Body Butter</a>
            <a routerLink="hair-gel">Hair gel</a>
            <a routerLink="lipstick">Lipstick</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 content">
            <router-outlet></router-outlet>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12 footer">
            <!--contact email-->
            <p>Contact: <a href="tel:+9998887776">9998887776</a></p>
            <p>Email: <a href="mailto:abcd@gmail.com">abcd@gmail.com</a></p>
        </div>
    </div>
    <!--Customer Support directly linked with email-->
</div>