form input:focus {
    outline: none;
}

div{
    text-align: center;
    margin: 95px 300px;
    padding: 50px 350px 50px 78px;
    background-color: #e4efe7;
    color: #064420;
    background-image: url('../../assets/tulip.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 14.5rem;
    border: 15px #638f76 solid;
}

h2{
    margin-bottom: 20px;
    font-family: 'Courgette', cursive;
}

.star{
    color: rgb(255, 115, 115);
}

#button{
    padding: 7px 30px;
    color: #064420;
    background-color: #faf1e6;
    border: 5px solid #fdfaf6;
    margin-bottom: 25px;
}

#button:hover{
    background-color: #fdf3e6;
    border: 5px solid #ffffff;
}

label{
    font-family: 'Merienda', cursive;
}

a{
    color: #064420;
}

a:hover{
    text-decoration:underline;
    color: green;
}

#email{
    padding: 5px 100px 5px 10px;
    background-color: #fdfaf6;
    border: 0;
    border: 5px solid #faf1e6;
    margin-bottom: 15px;
}