<div>
    <h2>Create An Account</h2>
    <hr>
    <form action="/">
        <label for="fname">First Name<b class="star">*</b></label>
        <input type="text" name="fname" id="fname" placeholder="Enter First Name"><br>
        <label for="lname">Last Name<b class="star">*</b></label>
        <input type="text" name="lname" id="lname" placeholder="Enter Last Name"><br>
        <label for="email">Email Address<b class="star">*</b></label>
        <input type="email" name="email" id="email" placeholder="Enter Email ID"><br>
        <label for="password">Password<b class="star">*</b></label>
        <input type="password" name="password" id="password"  placeholder="Enter Password"><br>
        <input type="submit" value="C r e a t e" id="button">
    </form>
    <p>Already a Customer?</p>
    <a href="login">Login</a>
</div>