<div>
    <h2>Personal Information</h2>
    <hr>
    <table>
        <tr>
            <td class="title">Name: </td>
            <td>Nivedhidha I</td>
        </tr>
        <tr>
            <td class="title">Email: </td>
            <td>abc@gmail.com</td>
        </tr>
        <tr>
            <td class="title">Phone Number: </td>
            <td>9876543210</td>
        </tr>
        <tr>
            <td class="title">Address: </td>
            <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit quod, dignissimos a eligendi.</td>
        </tr>
    </table>
</div>