.containera{
    width: 1300px;
    margin: 50px auto 50px;
    padding: 20px 0 20px;
    background-color: rgb(253, 245, 227);
    text-align: center;
}
.blog{
    display: inline-block;
    width: 50%;
    padding: 2% 3%;
}
h2{
    color:maroon;
    margin: 20px 490px 30px;
    padding: 17px 0;
    border-top: 20px dotted #eecca3;
    border-bottom: 20px dotted #eecca3;
    font-family: 'Satisfy', cursive;
    font-size: 5rem;
    font-weight: 600;
}
h3{
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Annie Use Your Telescope', cursive;
    color: rgb(141, 44, 44);
}
.date{
    font-size: 1rem;
    font-style: italic;
    color:black;
}
img{
    height: 250px;
    width: 500px;   
}
.content{
    color:rgb(88, 38, 38);
    font-family: 'Pangolin', cursive;
    margin-top: 15px;
}
a{
   background-color:  rgba(240, 220, 191, 0.56);
   color: brown;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
   padding-bottom: 5px; 
   font-family: 'Courier New', Courier, monospace;
   font-size: 18px; 
   font-weight: bold;
}