    <!-- <link rel="stylesheet" href="swiper.min.css">
    <link rel="stylesheet" href="sliderstyle.css"> -->
    <div class="containera">
    <h2>All Blogs</h2>
    <div class="blog">
        <h3>REMOVING TAN FROM INDIAN SKIN</h3>
        <p class="date">Posted on  June 10, 2021</p>
        <img src="../../assets/images/blog/blog1.jpg" alt="">
        <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quos perspiciatis 
            quidem hic ducimus voluptatem tempora atque eligendi voluptatibus, quis rerum 
            necessitatibus debitis blanditiis impedit odio non recusandae in? Dolores.</p>
        <a href="blog1">Read More...</a>
        <hr>
    </div>
    <div class="blog">
        <h3>WOMEN'S SKIN CARE</h3>
        <p class="date">Posted on  June 11, 2021</p>
        <img src="../../assets/images/blog/blog2.jpg" alt="">
        <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, eligendi enim 
            quaerat cumque aspernatur ratione tempore amet magni tenetur perferendis earum 
            laboriosam quidem modi ea iusto quas dolor commodi! Dolor.</p>
        <a href="blog2">Read More...</a>
        <hr>
    </div>
    <div class="blog">
        <h3>VARIOUS FACE PACKS</h3>
        <p class="date">Posted on June 12, 2021</p>
        <img src="../../assets/images/blog/blog3.jpg" alt="">
        <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, cum! Exercitationem 
            nulla aliquid inventore sed. Architecto in, nemo quod, soluta vero doloribus quasi 
            exercitationem nesciunt harum tempora obcaecati consectetur odio!</p>
        <a href="blog3">Read More...</a>
        <hr>
    </div>
    <div class="blog">
        <h3>MEN'S SKIN CARE</h3>
        <p class="date">Posted on  June 13, 2021</p>
        <img src="../../assets/images/blog/blog4.jpg" alt="">
        <p class="content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus voluptates veritatis, 
            molestiae iste odio ipsam magnam totam quisquam tempore laboriosam excepturi eos quia amet 
            aspernatur repudiandae, et, omnis tenetur nemo.</p>
        <a href="blog4">Read More...</a>
        <hr>
    </div>
</div>