<div class="heada">
    <h1 class="heading">Lipstick Products</h1>
    <div class="details">
        <div class="containera">
            <a href="lipstick1"><img src="../../assets/images/lip stick/lipstick11 big.jpg" class="image"></a>
            <div class="overlay">
                <div class="text">
                    <div class="a">
                        <button type="button" class="favbutton"><i class="fa fa-heart fav"></i></button>
                        <button type="button"><span class="cart">Add To Cart</span></button>
                    </div>
                </div>
            </div>
            <p class="productname">Lipstick 1</p>
            <p class="price">MRP: ₹300 <span>₹500 </span></p>
            <p class="offer">40% offer</p>
        </div>
        <div class="containera">
            <a href="lipstick2"><img src="../../assets/images/lip stick/lipstick21 big.png" alt="" class="image"></a>
            <div class="overlay">
                <div class="text">
                    <div class="a">
                        <button type="button" class="favbutton"><i  class="fa fa-heart fav"></i></button>
                        <button type="button"><span class="cart">Add To Cart</span></button>
                    </div>
                </div>
            </div>
            <p class="productname">Lipstick 2</p>
            <p class="price">MRP: ₹300 <span>₹500 </span></p>
            <p class="offer">40% offer</p>
        </div>
        <div class="containera">
            <a href="lipstick3"><img src="../../assets/images/lip stick/lipstick11 big.jpg" alt="" class="image"></a>
            <div class="overlay">
                <div class="text"> 
                    <div class="a">
                        <button type="button" class="button favbutton"><i  class="fa fa-heart fav"></i></button>
                        <button type="button"><span class="cart">Add To Cart</span></button>
                    </div>
                </div>
            </div>
            <p class="productname">Lipstick 3</p>
            <p class="price">MRP: ₹300 <span>₹500 </span></p>
            <p class="offer">40% offer</p>
        </div>
        <div class="containera">
            <a href="lipstick4"><img src="../../assets/images/lip stick/lipstick21 big.png" alt="" class="image"></a>
                <div class="overlay">
                    <div class="text">
                        <div class="a">
                            <button type="button" class="favbutton"><i class="fa fa-heart fav"></i></button>
                            <button type="button"><span class="cart">Add To Cart</span></button>
                        </div>
                    </div>
                </div>
                <p class="productname">Lipstick 4</p>
                <p class="price">MRP: ₹300 <span style="font-size: 1.3rem;">₹500 </span></p>
                <p class="offer">40% offer</p>
            </div>
        </div>                
    </div>