<div class="heada">
    <h1 class="heading">Hair Gel Products</h1>
    <div class="details">
        <div class="containera">
            <a href="hairgel1"><img src="../../assets/images/hair gel/hair-gel11 big.jpeg" class="image"></a>
            <div class="overlay">
                <div class="text">
                    <div class="a">
                        <button type="button" class="favbutton"><i class="fa fa-heart fav"></i></button>
                        <button type="button"><span class="cart">Add To Cart</span></button>
                    </div>
                </div>
            </div>
            <p class="productname">Hair Gel 1</p>
            <p class="price">MRP: ₹300 <span>₹500 </span></p>
            <p class="offer">40% offer</p>
        </div>
        <div class="containera">
            <a href="hairgel2"><img src="../../assets/images/hair gel/hair-gel21 big.jpeg" alt="" class="image"></a>
            <div class="overlay">
                <div class="text">
                    <div class="a">
                        <button type="button" class="favbutton"><i  class="fa fa-heart fav"></i></button>
                        <button type="button"><span class="cart">Add To Cart</span></button>
                    </div>
                </div>
            </div>
            <p class="productname">Hair Gel 2</p>
            <p class="price">MRP: ₹300 <span>₹500 </span></p>
            <p class="offer">40% offer</p>
        </div>
        <div class="containera">
            <a href="hairgel3"><img src="../../assets/images/hair gel/hair-gel11 big.jpeg" alt="" class="image"></a>
            <div class="overlay">
                <div class="text"> 
                    <div class="a">
                        <button type="button" class="button favbutton"><i  class="fa fa-heart fav"></i></button>
                        <button type="button"><span class="cart">Add To Cart</span></button>
                    </div>
                </div>
            </div>
            <p class="productname">Hair Gel 3</p>
            <p class="price">MRP: ₹300 <span>₹500 </span></p>
            <p class="offer">40% offer</p>
        </div>
        <div class="containera">
            <a href="hairgel4"><img src="../../assets/images/hair gel/hair-gel21 big.jpeg" alt="" class="image"></a>
                <div class="overlay">
                    <div class="text">
                        <div class="a">
                            <button type="button" class="favbutton"><i class="fa fa-heart fav"></i></button>
                            <button type="button"><span class="cart">Add To Cart</span></button>
                        </div>
                    </div>
                </div>
                <p class="productname">Hair Gel 4</p>
                <p class="price">MRP: ₹300 <span style="font-size: 1.3rem;">₹500 </span></p>
                <p class="offer">40% offer</p>
            </div>
        </div>                
    </div>